# 1. Αγνόησε τα πάντα εξ ορισμού
*

# 2. Επίτρεψε το .gitignore και τα README
!.gitignore
!README.md

# 3. Επίτρεψε ΟΛΟΥΣ τους φακέλους αναδρομικά (για να μπορεί το Git να τους "σκανάρει")
!**/

# 4. Ρητή απαγόρευση στα ξένα software και μεγάλα binaries
software/
**/fasta36/
**/pySCA/
**/*.sh
**/*.py
# (Πρώτα μπλοκάρουμε όλα τα scripts και μετά επιτρέπουμε τα δικά σου)

# 5. Τώρα επίτρεψε όλα τα .py και .sh ΠΑΝΤΟΥ, εκτός από τους φακέλους που μπλοκάραμε παραπάνω
!**/*.py
!**/*.sh

# 6. Αγνόησε συγκεκριμένα βαριά αρχεία δεδομένων που μπορεί να ξέφυγαν
*.tsv
*.csv
*.fasta
*.fa
*.dmnd
*.log
*.gz
*.treefile
*.iqtree
*.ckp
